#data {
  text-align: center;
  font-weight: bold;
  color: #008080;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 70%;
  height: 100%;
  margin: 0px auto 0px auto;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

#conteudo {
  margin-left: 50px;
  font-family: 'Open Sans', sans-serif;
}

div {
  background-color: #fffafa;
}